<Codebox Title="Search box with loading icon">
    <Description>
        <p>
            Display a search icon while loading.
        </p>
    </Description>
    <Demo>
        <Search placeholder="input search loading deault" Loading />
        <br />
        <br />
        <Search placeholder="input search loading with enterButton" Loading EnterButton="" />
    </Demo>
</Codebox>