<Codebox Title="Three sizes of Input">
    <Description>
        <p>
            There are three sizes of an Input box: <code>InputSize.Large</code> (40px), <code>InputSize.Default</code> (32px) and <code>InputSize.Small</code> (24px).
        </p>
    </Description>
    <Demo>
        <Input Size="InputSize.Large" placeholder="large size" PrefixIcon="@IconType.Outlined.User" />
        <br />
        <br />
        <Input placeholder="default size" PrefixIcon="@IconType.Outlined.User" />
        <br />
        <br />
        <Input Size="InputSize.Small" placeholder="small size" PrefixIcon="@IconType.Outlined.User" />
    </Demo>
</Codebox>