@namespace Append.AntDesign.Components
@inherits AntComponent
@using Append.AntDesign.Core

<div class="ant-tooltip-child"
     @ref="childElementReference"
     style="display:inline-block;overflow:hidden"
     @attributes="@Attributes"
     @onmouseenter="HandleMouseEnter"
     @onmouseleave="HandleMouseLeave"
     @onclick="HandleClick"
     @onfocusin="HandleFocusIn"
     @onfocusout="HandleFocusOut">
    @ChildContent
</div>


<style>
    .ant-tooltip-hidden {
        visibility: hidden;
        pointer-events: none;
        display: initial;
    }
</style>