@inherits AntComponent
@namespace Append.AntDesign.Components

<div class="ant-tooltip-container">
    @foreach (var tooltip in TooltipService.Tooltips)
    {
        <div @ref="tooltip.TooltipElementReference"
             class="@tooltip.Classes" @attributes="tooltip.Attributes">
            <div class="ant-tooltip-content">
                <div class="ant-tooltip-arrow"></div>
                <div class="ant-tooltip-inner" role="tooltip">@tooltip.Title</div>
            </div>
        </div>
    }
</div>