@namespace Append.AntDesign.Components
@inherits AntComponent

<div @ref="tooltipElementReference" class="@classes" style="@Style" @attributes="@Attributes">
    <div class="ant-tooltip-content">
        <div class="ant-tooltip-arrow"></div>
        <div class="ant-tooltip-inner" role="tooltip">@Title</div>
    </div>
</div>

<div class="ant-tooltip-wrapper" @ref="childElementReference" style="display:inline-block;overflow:hidden">
    @ChildContent
</div>