@page "/experiment"

<Title Copyable TextToCopy="Awesome Copied Title">My Awesome Title</Title>
<Paragraph Copyable TextToCopy="Awesome Copied Paragraph">This is a copyable paragraph.</Paragraph>
<Text Copyable TextToCopy="Awesome Copied Text">This is a copyable text.</Text>
