@page "/experiment"
@inject IClipboardService Service
    <Tooltip Visible="@visible" OnVisibilityChanged="HandleVisibilityChanged">
        <Title>@text</Title>
        <ChildContent>
            <Button OnClick="Copy">
                @if (text.Equals("Copy code"))
                {
                    <Icon Type="IconType.Outlined.Copy" />
                }
                else
                {
                    <Icon Type="IconType.Outlined.Check" Fill="green" />
                }
            </Button>
        </ChildContent>
    </Tooltip>
@code{


    string text = "Copy code";
    bool visible = false;
    public async Task Copy()
    {
        await Service.Copy("Your code to copy!");
        text = "Copied!";
    }
    public void HandleVisibilityChanged(bool newVisibility)
    {
        visible = newVisibility;
        if (!visible)
        {
            text = "Copy code";
        }
    }
}