@page "/experiment"
@inject IClipboardService Service
<Tooltip OnVisibilityChanged="Reset" Visible="true">
    <Title>@text</Title>
    <ChildContent>
        <span @onclick="Copy">Click here to copy the code!</span>
    </ChildContent>
</Tooltip>

@code{


    string text = "Copy Code";
    public async Task Copy()
    {
        await Service.Copy("Testing!");
        text = "Copied!";
    }
    public void Reset(bool visibility)
    {
        text = "Copy Code";
    }
}