@namespace Append.AntDesign.Components
@inherits AntComponent
@using Append.AntDesign.Core

<div class="ant-tooltip-child"
     @attributes="@Attributes"
     @ref="ChildElementReference"
     style="display:inline-block;overflow:hidden"
     @onmouseenter="HandleMouseEnter"
     @onmouseleave="HandleMouseLeave"
     @onclick="HandleClick"
     @oncontextmenu="HandleContextMenu"
     @oncontextmenu:preventDefault="@Triggers.Contains(TooltipTrigger.ContextMenu)"
     @onfocusin="HandleFocusIn"
     @onfocusout="HandleFocusOut">
    @ChildContent
</div>