@inherits AntComponent
@namespace Append.AntDesign.Components

<li class="@classes">
    <div class="ant-timeline-item-tail"></div>
    <div class="ant-timeline-item-head ant-timeline-item-head-blue"></div>
    <div class="ant-timeline-item-content">@ChildContent</div>
</li>