<Codebox Title="Header-Content-Footer">
    <Description>
        <p>
            The most basic <code>header-content-footer</code> layout.
        </p>
        <p>
            Generally, the mainnav is placed at the top of the page, and includes the logo, the first level navigation, and the secondary menu (users, settings, notifications) from left to right in it. We always put contents in a fixed size navigation  e.g <code>1200px</code>, the layout of the whole page is stable, it's not affected by viewing area.
        </p>
        <p>
            Top-bottom structure is conform with the top-bottom viewing habit, it's a classical navigation pattern of websites. This pattern demonstrates efficiency in the main workarea, while using some vertical space. And because the horizontal space of the navigation is limited, this pattern is not suitable for cases when the first level navigation contains many elements or links
        </p>
    </Description>
    <Demo>
        <Layout>
            <Header>
                <div class="logo" />
                <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal" DefaultSelectedItems="@(new[] {"2"})">
                    <MenuItem Key="1">nav 1</MenuItem>
                    <MenuItem Key="2">nav 2</MenuItem>
                    <MenuItem Key="3">nav 3</MenuItem>
                </Menu>
            </Header>
            <Content style="padding: 0 50px">
                <Breadcrumb style="margin: 16px 0">
                        <BreadcrumbItem>Home</BreadcrumbItem>
                        <BreadcrumbItem>List</BreadcrumbItem>
                        <BreadcrumbItem>App</BreadcrumbItem>
                </Breadcrumb>
                <div class="site-layout-content">Content</div>
            </Content>
            <Footer style="text-align:center">Ant Design ©2018 Created by Ant UED</Footer>
        </Layout>
    </Demo>
</Codebox>
<style>
    .site-layout-content {
        background: #fff;
        padding: 24px;
        min-height: 280px;
    }

    #components-layout-demo-casual .logo {
        width: 120px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 24px 16px 0;
        float: left;
    }
</style>
