@namespace Append.AntDesign.Components
@inherits AntComponent
    <div @attributes="@Attributes" class="@classes" role="separator">
        @if (!string.IsNullOrEmpty(Label))
        {
            <span class="ant-divider-inner-text">@Label</span>
        }
    </div>