@inherits TestComponentBase
@*<Fixture Test="ShouldContainPrefix">
            <ComponentUnderTest>
                <Row />
            </ComponentUnderTest>
        </Fixture>

    <Fixture Test="ShouldContainExternalClasses">
        <ComponentUnderTest>
            <Row class="abc" />
        </ComponentUnderTest>
    </Fixture>

    <Fixture Test="ShouldContainExternalStyles">
        <ComponentUnderTest>
            <Row style="background:yellow;" />
        </ComponentUnderTest>
    </Fixture>
*@
<SnapshotTest Description="ShouldRenderWith1ColumnAndSpan">
    <TestInput>
        <Row>
            <Column Span="24">col</Column>
        </Row>
    </TestInput>
    <ExpectedOutput>
        <div class="ant-row">
            <div class="ant-col ant-col-24">col</div>
        </div>
    </ExpectedOutput>
</SnapshotTest>

<SnapshotTest Description="ShouldRenderWith2ColumnsAndSpan">
    <TestInput>
        <Row>
            <Column Span="12">col-12</Column>
            <Column Span="12">col-12</Column>
        </Row>
    </TestInput>
    <ExpectedOutput>
        <div class="ant-row">
            <div class="ant-col ant-col-12">col-12</div>
            <div class="ant-col ant-col-12">col-12</div>
        </div>
    </ExpectedOutput>
</SnapshotTest>

<SnapshotTest Description="ShouldRenderWith3ColumnsAndSpan">
    <TestInput>
        <Row>
            <Column Span="8">col-8</Column>
            <Column Span="8">col-8</Column>
            <Column Span="8">col-8</Column>
        </Row>
    </TestInput>
    <ExpectedOutput>
        <div class="ant-row">
            <div class="ant-col ant-col-8">col-8</div>
            <div class="ant-col ant-col-8">col-8</div>
            <div class="ant-col ant-col-8">col-8</div>
        </div>
    </ExpectedOutput>
</SnapshotTest>

<SnapshotTest Description="Column Offset">
    <TestInput>
        <Row>
            <Column Span="8">col-8</Column>
            <Column Span="8" Offset="8">col-8</Column>
        </Row>
        <Row>
            <Column Span="6" Offset="6">col-6 col-offset-6</Column>
            <Column Span="6" Offset="6">col-6 col-offset-6</Column>
        </Row>
        <Row>
            <Column Span="12" Offset="6">col-12 col-offset-6</Column>
        </Row>
    </TestInput>
    <ExpectedOutput>
        <div class="ant-row">
            <div class="ant-col ant-col-8">col-8</div>
            <div class="ant-col ant-col-8 ant-col-offset-8">col-8</div>
        </div>
        <div class="ant-row">
            <div class="ant-col ant-col-6 ant-col-offset-6">col-6 col-offset-6</div>
            <div class="ant-col ant-col-6 ant-col-offset-6">col-6 col-offset-6</div>
        </div>
        <div class="ant-row">
            <div class="ant-col ant-col-12 ant-col-offset-6">col-12 col-offset-6</div>
        </div>
    </ExpectedOutput>
</SnapshotTest>

<SnapshotTest Description="Grid Sort">
    <TestInput>
        <Row>
            <Column Span="18" Push="6">
                col-18 col-push-6
            </Column>
            <Column Span="6" Pull="18">
                col-6 col-pull-18
            </Column>
        </Row>
    </TestInput>
<ExpectedOutput>
    <div class="ant-row">
        <div class="ant-col ant-col-18 ant-col-push-6">col-18 col-push-6</div>
        <div class="ant-col ant-col-6 ant-col-pull-18">col-6 col-pull-18</div>
    </div>
</ExpectedOutput>
</SnapshotTest>

@code {

    void ShouldContainPrefix()
    {
        var cut = GetComponentUnderTest();

        var elm = cut.Find("div");
        elm.ClassList.ShouldContain("ant-row");
    }
    void ShouldContainExternalClasses()
    {
        var cut = GetComponentUnderTest();

        var elm = cut.Find("div");
        elm.ClassList.ShouldContain("abc");
    }
    void ShouldContainExternalStyles()
    {
        var cut = GetComponentUnderTest();

        var elm = cut.Find("div");
        elm.GetAttribute("style").ShouldContain("background:yellow");
    }

}