@inherits AntComponent
@namespace Append.AntDesign.Components

<section @attributes="@Attributes" class="@classes">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</section>