@inherits AntComponent
@namespace Append.AntDesign.Components

<aside class="@classes" style="@styles" @attributes="@Attributes">
    <CascadingValue Value="this">
        <div class="ant-layout-sider-children">
            @if (Collapsed && CollapsedWidth == 0)
            {
                <span class="ant-layout-sider-zero-width-trigger ant-layout-sider-zero-width-trigger-left"
                      @onclick="ToggleCollapsed">
                    <Icon Type="IconType.Outlined.Bars" />
                </span>
            }
            @ChildContent
        </div>
    </CascadingValue>
    @if (Collapsible)
    {
        <div class="ant-layout-sider-trigger" style="width: @($"{width}px")" @onclick="ToggleCollapsed">
            @Trigger
        </div>
    }
</aside>
