@inherits AntComponent
@namespace Append.AntDesign.Components

<aside class="ant-layout-sider ant-layout-sider-dark" @attributes="@Attributes">
    <div class="ant-layout-sider-children">
        @ChildContent
    </div>
</aside>