@inherits AntComponent
@namespace Append.AntDesign.Components
<li @attributes="@Attributes" class="@classes">
    <div class="ant-menu-item-group-title">
        @Title
    </div>
    <ul class="ant-menu-item-group-list">
        @Children
    </ul>
</li>