@using Append.AntDesign.Core

<Codebox Title="Colorful">
    <Description>
        <p>
            We preset a series of colorful badge styles for use in different situations. You can also set it to a hex color string for a custom color.
        </p>
    </Description>
    <Demo>
        <h4 style="margin-bottom: 16px">Presets:</h4>
        <div>

            @foreach (Color color in Color.List)
            {
                <div @key="@color">
                    <Badge Color="@color.Name" Text="@color.Name" />
                </div>
            }

            <h4 style="margin:16px 0">Custom:</h4>
            <div>
                <Badge Color="#f50" Text="#f50" />
                <br />
                <Badge Color="#2db7f5" Text="#2db7f5" />
                <br />
                <Badge Color="#87d068" Text="#87d068" />
                <br />
                <Badge Color="#108ee9" Text="#108ee9" />
            </div>
        </div>
    </Demo>
</Codebox>



<style>
    .ant-tag {
        margin-bottom: 8px;
    }
</style>

