<Codebox Title="Changing">
    <Description>
        <p>You can change the content of the tooltip and it's child content.</p>
    </Description>
    <Demo>
        <div style="display:flex;justify-content:space-around">
            <div>
                <Button Label="Change Tooltip Text" OnClick="ChangeText" style="align-self:start"></Button>
                <Button Label="Change Child Text" OnClick="ChangeChildText"></Button>
            </div>
            <Tooltip>
                <Title>@tooltipText</Title>
                <ChildContent>
                    <span>@childText</span>
                </ChildContent>
            </Tooltip>
        </div>
        @code{
            string tooltipText = "abc";
            string childText = "Click the button to change the tooltip text.";
            public void ChangeText()
            {
                if (tooltipText == "abc")
                    tooltipText = "123";
                else
                    tooltipText = "abc";
            }
            public void ChangeChildText()
            {
                if (childText == "Click the button to change the tooltip text.")
                    childText = "I've been changed!";
                else
                    childText = "Click the button to change the tooltip text.";
            }
        }

    </Demo>
</Codebox>