<Codebox Title="Default" id="components-tooltip-demo-basic">
    <Description>
        <p>You can show the tooltip by default, by setting the <code>DefaultVisible</code> property.</p>
    </Description>
    <Demo>
        <Tooltip DefaultVisible Triggers="@(new[] { TooltipTrigger.Click})">
            <Title>prompt text</Title>
            <ChildContent>
                <span>The tooltip is shown by default.</span>
            </ChildContent>
        </Tooltip>
    </Demo>
</Codebox>