<Codebox Title="Default">
    <Description>
        <p>You can show the tooltip by default, by setting the <code>Visible</code> property.</p>
    </Description>
    <Demo>
        <Tooltip @bind-Visible="isVisible" Triggers="@(new[] { TooltipTrigger.Click})">
            <Title>prompt text</Title>
            <ChildContent>
                <span>The tooltip is shown by default.</span>
            </ChildContent>
        </Tooltip>
    </Demo>
</Codebox>

@code{
    private bool isVisible = true;
}