@namespace Append.AntDesign.Components
@inherits AntComponent

<span id="notificationBox">
    <CascadingValue Value="this">

        @foreach (var classs in notificationContainerClasses)
        {
            <div class="@classs.Item2" style="@GenerateNotificationContainerStyle(classs.Item1)">
                <span>
                    @foreach (var notification in notifications.GetNotificationsByPlacementType(classs.Item1))
                    {
                        <Notification @key="notification.Guid" Type="notification.NotificationType" Options="notification.Options" Guid="notification.Guid" />
                    }
                </span>
            </div>
        }
    </CascadingValue>
</span>