@namespace Append.AntDesign.Components
@inherits AntComponent

<span id="notificationBox">
    <CascadingValue Value="this">


        @*
            <div class="ant-notification ant-notification-topRight" style="right: 0px; top: 30px; bottom: auto;">
                <span>
                    @foreach (var item in notifications.GetTopRightNotifications())
                    {
                        @item.RenderFragment
                    }
                </span>
            </div>

            <div class="ant-notification ant-notification-topLeft" style="left: 0px; top: 30px; bottom: auto;">
                <span>
                    @foreach (var item in notifications.GetTopRightNotifications())
                    {
                        @item.RenderFragment
                    }
                </span>
            </div>

            <div class="ant-notification ant-notification-bottomLeft" style="left: 0px; top: auto; bottom: 24px;">
                <span>
                    @foreach (var item in notifications.GetBottomLeftNotifications())
                    {
                        @item.RenderFragment
                    }
                </span>
            </div>

            <div class="ant-notification ant-notification-bottomRight" style="right: 0px; top: auto; bottom: 24px;">
                <span>
                    @foreach (var item in notifications.GetBottomRightNotifications())
                    {
                        @item.RenderFragment
                    }
                </span>
            </div>
        *@
    </CascadingValue>
</span>