<Codebox Title="Description">
    <Description>
        <p>
            You can customize the text of the <code>Spin</code> component by providing the <code>Label</code> parameter.
        </p>
    </Description>
    <Demo>
        <Spin Label="Loading..." />
    </Demo>
</Codebox>