<Codebox Title="Wrapping an element">
    <Description>
        <p>
            You can wrap <code>ChildContent</code> with a <code>Spin</code> component.
        </p>
    </Description>
    <Demo>
        <Spin Label="Loading...">
            <Alert Type="AlertType.Info">
                <Message>Alert message title</Message>
                <Description>Further details about the context of this alert.</Description>
            </Alert>
        </Spin>
    </Demo>
</Codebox>