<Codebox Title="Bad Request - 500">
    <Description>
        <p>
            Something went wrong on the server.
        </p>
    </Description>
    <Demo>
        <Result Status="ResultStatus.BadRequest_500">
            <Title>Bad Request - 500</Title>
            <Subtitle>Sorry, something went wrong.</Subtitle>
            <ChildContent>
                <Button Type="ButtonType.Primary" Label="Back Home"/>
            </ChildContent>
        </Result>
    </Demo>
</Codebox>