<Codebox Title="Success">
    <Description>
        <p>
            Shows a successful result.
        </p>
    </Description>
    <Demo>
        <Result Status="ResultStatus.Success">
            <Title>Successfully Purchased Cloud Server ECS!</Title>
            <Subtitle>Order number: 2017182818828182881 Cloud server configuration takes 1-5 minutes, please wait.</Subtitle>
            <ChildContent>
                <Button Type="ButtonType.Primary" Label="Go to Console"/>
                <Button Label="Buy Again"/>
            </ChildContent>
        </Result>
    </Demo>
</Codebox>