@inherits AntComponent
@namespace Append.AntDesign.Components
<li class="ant-menu-item-group">
    <div class="ant-menu-item-group-title">
        @Title
    </div>
    <ul class="ant-menu-item-group-list">
        @Children
    </ul>
</li>