<Codebox Title="Basic" id="components-alert-demo-basic">
    <Description>
        <p>
            The simplest usage for short messages.
        </p>
    </Description>
    <Demo>
        <Alert Type="AlertType.Success">
            <Message>Success Text</Message>
        </Alert>
    </Demo>
</Codebox>