<Codebox Title="Closable" id="components-alert-demo-closable">
    <Description>
        <p>
            It's possible to show a close button.
        </p>
    </Description>
    <Demo>
        <div>
            <Alert Type="AlertType.Warning" Closable OnClose="HandleOnClose">
                <Message>
                    Warning Text Warning Text Warning TextW arning Text Warning Text Warning TextWarning Text
                </Message>
            </Alert>
            <Alert Type="AlertType.Error" Closable OnClose="HandleOnCloseAsync">
                <Message>Error Text</Message>
                <Description>
                    Error Description Error Description Error Description Error Description Error Description Error Description
                </Description>
            </Alert>
        </div>
    </Demo>
</Codebox>

<style>
    .code-box-demo .ant-alert {
        margin-bottom: 16px;
    }
</style>

@code{
    private void HandleOnClose(MouseEventArgs args)
    {
        // Do something here.
    }
    private Task HandleOnCloseAsync(MouseEventArgs args)
    {
        // Do something here.
        return Task.CompletedTask;
    }
}