<Codebox Title="Flex Stretch">
    <Description>
        <p>
            <code>Column</code> provides a style attribute so you can customize any other behavior for example filling in the rest by using <code>flex</code>.
        </p>
    </Description>
    <Demo>
        <Divider Orientation="DividerOrientation.Left"
                 style="color: #333;font-weight: normal"
                 Label="Percentage columns">
        </Divider>
        <Row>
            <Column style="flex:2 2 auto">2 / 5</Column>
            <Column style="flex:3 3 auto">3 / 5</Column>
        </Row>
        <Divider Orientation="DividerOrientation.Left"
                 style="color: #333;font-weight: normal"
                 Label="Fill Rest">
        </Divider>
        <Row>
            <Column style="flex:0 0 100px">100px</Column>
            <Column style="flex:1 1 auto">Fill Rest</Column>
        </Row>
        <Divider Orientation="DividerOrientation.Left"
                 style="color: #333;font-weight: normal"
                 Label="Raw Flex Style">
        </Divider>
        <Row>
            <Column style="flex:1 1 200px">1 1 200px</Column>
            <Column style="flex:0 1 300px">0 1 300px</Column>
        </Row>
    </Demo>
</Codebox>