<Codebox Title="Responsive">
    <Description>
        <p>
            Referring to the Bootstrap responsive design, there are seven dimensions present: <code>Xs | Sm | Md | Lg | Xl | Xxl</code>.
        </p>
    </Description>
    <Demo>
        <Row>
            <Column Xs="2" Sm="4" Md="6" Lg="8" Xl="10" Xxl="12">
            Col
            </Column>
            <Column Xs="20" Sm="16" Md="12" Lg="8" Xl="4" Xxl="2">
            Col
            </Column>
            <Column Xs="2" Sm="4" Md="6" Lg="8" Xl="10" Xxl="12">
            Col
            </Column>
        </Row>
    </Demo>
</Codebox>