<Codebox Title="Grid Sort">
    <Description>
        <p>
            By using the <code>push</code> and <code>pull</code> property you can easily change column order.
        </p>
    </Description>
    <Demo>
        <Row>
            <Column Span="18" Push="6">col-18 col-push-6</Column>
            <Column Span="6" Pull="18">col-6 col-pull-18</Column>
        </Row>
    </Demo>
</Codebox>