@namespace Append.AntDesign.Components
@inherits AntComponent
    <div class="@classes" role="separator" @attributes="@Attributes">
        @if (!string.IsNullOrEmpty(Label))
        {
            <span class="ant-divider-inner-text">@Label</span>
        }
    </div>