<Codebox Title="Basic">
    <Description>
        <p>
            The most basic usage.
        </p>
    </Description>
    <Demo>
        <Switch DefaultChecked OnClick="HandleClick"/>
    </Demo>
</Codebox>
@code{
    private void HandleClick(bool value)
    {
        System.Diagnostics.Debug.Write("I've been clicked!");
    }
}