<Codebox Title="Disabled">
    <Description>
        <p>
            Disabled the state of the <code>Switch</code> .
        </p>
    </Description>
    <Demo>
        <Switch Disabled="@disabled" DefaultChecked />
        <br />
        <br />
        <Button Type="ButtonType.Primary" OnClick="InvertDisabled" Label="Disable toggle"/>
    </Demo>
</Codebox>
@code{
    private bool disabled = true;

    private void InvertDisabled()
    {
        disabled = !disabled;
    }
}