<Codebox Title="Loading">
    <Description>
        <p>
            Mark a pending state of switch.
        </p>
    </Description>
    <Demo>
        <Switch Loading DefaultChecked />
        <br />
        <Switch Size="SwitchSize.Small" Loading />
    </Demo>
</Codebox>