<Codebox Title="Text & icon">
    <Description>
        <p>
            With text and icon.
        </p>
    </Description>
    <Demo>

        <Switch CheckedChildText="V" UnCheckedChildText="X" />
        <br />
        <Switch CheckedChildText="1" UnCheckedChildText="0" DefaultChecked />
        <br />
        <Switch CheckedChildIconType="IconType.Outlined.Check" UnCheckedChildIconType="IconType.Outlined.Close" DefaultChecked />
    </Demo>
</Codebox>