<Codebox Title="Close" id="components-alert-demo-close">
    <Description>
        <p>
            Replace the default close icon with customized content, make sure <code>Closeable</code> is set.
        </p>
    </Description>
    <Demo>
        <Alert Type="AlertType.Info" Closable>
            <Message>Info Text</Message>
            <CloseText>Close Now</CloseText>
        </Alert>
    </Demo>
</Codebox>