<Codebox Title="Vertical" id="components-divider-demo-vertical">
    <Description>
        <p>The divider is positioned <code>horizontal</code> by default, you can change this to <code>vertical</code> by specifying the <code>Direction</code>.</p>
    </Description>
    <Demo>
        <span>Some Text...</span>
        <Divider Direction="DividerDirection.Vertical" />
        <a href="#">Link</a>
        <Divider Direction="DividerDirection.Vertical" />
        <a href="#">Link</a>
    </Demo>
</Codebox>