<Codebox Title="Alternate">
    <Description>
        <p>
            It's possible to set the Color of the dots.
        </p>
        <ul>
            <li><code>green</code> for a completed or success status</li>
            <li><code>red</code> : for a warning or error status</li>
            <li><code>blue</code> : for a ongoing or other default status</li>
            <li><code>gray</code> : for a unfinished or disabled status</li>
        </ul>
    </Description>
    <Demo>
        <Timeline>
            <TimelineItem Color="TimelineColor.Green">Create a services site 2015-09-01</TimelineItem>
            <TimelineItem Color="TimelineColor.Green">Create a services site 2015-09-01</TimelineItem>
            <TimelineItem Color="TimelineColor.Red">
                <p>Solve initial network problems 1</p>
                <p>Solve initial network problems 2</p>
                <p>Solve initial network problems 3 2015-09-01</p>
            </TimelineItem>
            <TimelineItem>
                <p>Technical testing 1</p>
                <p>Technical testing 2</p>
                <p>Technical testing 3 2015-09-01</p>
            </TimelineItem>
            <TimelineItem Color="TimelineColor.Gray">
                <p>Technical testing 1</p>
                <p>Technical testing 2</p>
                <p>Technical testing 3 2015-09-01</p>
            </TimelineItem>
            <TimelineItem Color="TimelineColor.Gray">
                <p>Technical testing 1</p>
                <p>Technical testing 2</p>
                <p>Technical testing 3 2015-09-01</p>
            </TimelineItem>
        </Timeline>
    </Demo>
</Codebox>
