<Codebox Title="Clickable">
    <Description>
        <p>
            Setting <code>onChange</code> makes Steps clickable.
        </p>
    </Description>
    <Demo>
        <div>
            <Steps Current=@current OnChange=OnChange>
                <Step Title="Step 1" Description="This is the description of a clickable step." />
                <Step Title="Step 2" Description="This is the description of a clickable step." />
                <Step Title="Step 3" Description="This is the description of a clickable step." />
            </Steps>

            <Divider />

            <Steps Current=@current OnChange=OnChange Direction=StepsDirection.Vertical>
                <Step Title="Step 1" Description="This is the description of a clickable step." />
                <Step Title="Step 2" Description="This is the description of a clickable step." />
                <Step Title="Step 3" Description="This is the description of a clickable step." />
            </Steps>
        </div>
    </Demo>
</Codebox>
@code{
    private int current = 0;
    private void OnChange(int number)
    {
        current = number;
        StateHasChanged();
    }
}