<Codebox Title="With icon">
    <Description>
        <p>
            You can use your own custom icons by setting the property <code>icon</code> for <code>Steps.Step</code>.
        </p>
    </Description>
    <Demo>
        <Steps>
            <Step Status=StepsStatus.Finish Title="Login" Icon=IconType.Outlined.User />
            <Step Status=StepsStatus.Finish Title="Verification" Icon=IconType.Outlined.Solution />
            <Step Status=StepsStatus.Process Title="Pay" Icon=IconType.Outlined.Loading />
            <Step Status=StepsStatus.Wait Title="Done" Icon=IconType.Outlined.Smile />
        </Steps>
    </Demo>
</Codebox>