<Codebox Title="Mini Version">
    <Description>
        <p>
            By setting like this: <code>Steps size="small"</code>, you can get a mini version.
        </p>
    </Description>
    <Demo>
        <Steps Size=StepsSize.Small Current=1>
            <Step Title="Finished" />
            <Step Title="In Progress" />
            <Step Title="Waiting" />
        </Steps>
    </Demo>
</Codebox>