<Codebox Title="Switch Step">
    <Description>
        <p>
            Cooperate with the content and buttons, to represent the progress of a process.
        </p>
    </Description>
    <Demo>
        <div>
            <Steps Current=@current>
                @foreach (KeyValuePair<int, string> item in stepsTitle)
                {
                    <Step Title=@item.Value />
                }
            </Steps>
            <div class="steps-content">@steps[current]</div>
            <div class="steps-action">
                @if (current < steps.Count - 1)
                {
                    <Button Type=ButtonType.Primary OnClick=this.next>
                        Next
                    </Button>
                }
                @if (current == steps.Count - 1)
                {
                    <Button Type=ButtonType.Primary OnClick=this.Onclick>
                        Done
                    </Button>
                }
                @if (current > 0)
                {
                    <Button Style="margin: 0 8px" OnClick=this.prev>
                        Previous
                    </Button>
                }
            </div>
        </div>
    </Demo>
</Codebox>
@code{
    public IDictionary<int, string> steps = new Dictionary<int, string>()
                                    {
                                                {0,"First-content"},
                                                {1, "Second-content"},
                                                {2,"Last-content"}
                                            };
    public IDictionary<int, string> stepsTitle = new Dictionary<int, string>()
                                    {
                                                {0,"First"},
                                                {1, "Second"},
                                                {2,"Last"}
                                            };

    private int current = 0;

    private void next()
    {
        current = current + 1;
    }

    private void prev()
    {
        current = current - 1;
    }
    private void Onclick()
    {
        //show notification that it's done
    }
}
