<Codebox Title="RadioGroup">
    <Description>
        <p>
            Radio group can wrap a group of <code>Radio</code> or <code>RadioButton</code> .
        </p>
    </Description>
    <Demo>
        <RadioGroup Value="2" OnChange="@((e) => System.Diagnostics.Debug.WriteLine($"Currently selected radio: {e}"))">
            <Radio Value="1">A</Radio>
            <Radio Value="2">B</Radio>
            <Radio Value="3">C</Radio>
            <Radio Value="4">D</Radio>
        </RadioGroup>
    </Demo>
</Codebox>