<Codebox Title="Options">
    <Description>
        <p>
            Render radios by configuring <code>Options</code>.
        </p>
    </Description>
    <Demo>
        <RadioGroup Options="options1" Value="Apple" />
        <br />
        <br />
        <RadioGroup Options="options2" Value="Pear" />
        <br />
        <br />
        <RadioGroup Options="options3" Value="Orange" />
    </Demo>
</Codebox>
@code{
    List<RadioGroupOption> options1 = new List<RadioGroupOption>(new RadioGroupOption[] { RadioGroupOption.Create("Apple"), RadioGroupOption.Create("Pear"), RadioGroupOption.Create("Orange") });
    List<RadioGroupOption> options2 = new List<RadioGroupOption>(new RadioGroupOption[] { RadioGroupOption.Create("Apple", "Apple"), RadioGroupOption.Create("Pear", "Pear"), RadioGroupOption.Create("Orange", "Orange") });
    List<RadioGroupOption> options3 = new List<RadioGroupOption>(new RadioGroupOption[] { RadioGroupOption.Create("Apple", "Apple"), RadioGroupOption.Create("Pear", "Pear", true), RadioGroupOption.Create("Orange", "Orange") });
}