<Codebox Title="Solid radio button">
    <Description>
        <p>
            <code>RadioButtonStyle.Solid</code> radio button style.
        </p>
    </Description>
    <Demo>
        <RadioGroup DefaultValue="a" ButtonStyle="RadioButtonStyle.Solid">
            <RadioButton Value="a">Hangzhou</RadioButton>
            <RadioButton Value="b">Shanghai</RadioButton>
            <RadioButton Value="c">Beijing</RadioButton>
            <RadioButton Value="d">Chengdu</RadioButton>
        </RadioGroup>
        <br />
        <RadioGroup DefaultValue="b" style="margin-top:16px" ButtonStyle="RadioButtonStyle.Solid">
            <RadioButton Value="a">Hangzhou</RadioButton>
            <RadioButton Value="b">Shanghai</RadioButton>
            <RadioButton Value="c">Beijing</RadioButton>
            <RadioButton Value="d">Chengdu</RadioButton>
        </RadioGroup>
    </Demo>
</Codebox>