@using System.Reflection
<Codebox Title="Outlined" id="components-icon-demo-outlined">
    <Description>
        <p>Outlined icon set</p>
    </Description>
    <Demo>
        <ul class="anticons-list">
            @foreach (var item in GetIcons())
            {
                <li>
                    <Icon Type="item" />
                    <span class="anticon-class">
                        <span class="ant-badge">@item.UnnormalisedName</span>
                    </span>
                </li>
            }
        </ul>
    </Demo>
</Codebox>

@code{
    private IEnumerable<IconType> GetIcons()
    {
        return typeof(IconType.Outlined).GetFields(BindingFlags.Public | BindingFlags.Static)
                          .Where(f => f.FieldType == typeof(IconType.Outlined))
                          .Select(x => (IconType)x.GetValue(null));
    }
}