<Codebox Title="Basic">
    <Description>
        <p>
            Usage of a basic Tag, it can be closable by setting the <code>Closable</code> property. A Closable Tag supports the <code>OnClose</code> event.
        </p>
    </Description>
    <Demo>
        <Tag>
            Tag 1
        </Tag>
        <Tag>
            <a href="https://github.com/Append-IT/ant-design-blazor">Link</a>
        </Tag>
        <Tag Closable>
            Tag 2
        </Tag>
    </Demo>
</Codebox>