<Codebox Title="Colorful Tag">
    <Description>
        <p>
            We preset a series of colorful tag styles for use in different situations. You can also set it to a hex color string for a custom color.
        </p>
    </Description>
    <Demo>
        <div>
            <h4 style="margin-bottom:16px">Presets:</h4>
            <div>
                <Tag Color="magenta">magenta</Tag>
                <Tag Color="red">red</Tag>
                <Tag Color="volcano">volcano</Tag>
                <Tag Color="orange">orange</Tag>
                <Tag Color="gold">gold</Tag>
                <Tag Color="lime">lime</Tag>
                <Tag Color="green">green</Tag>
                <Tag Color="cyan">cyan</Tag>
                <Tag Color="blue">blue</Tag>
                <Tag Color="geekblue">geekblue</Tag>
                <Tag Color="purple">purple</Tag>
            </div>
            <h4 style="margin:16px 0px">Custom:</h4>
            <div>
                <Tag Color="#f50">
                    #f50
                </Tag>
                <Tag Color="#2db7f5">
                    #2db7f5
                </Tag>
                <Tag Color="#87d068">
                    #87d068
                </Tag>
                <Tag Color="#108ee9">
                    #108ee9
                </Tag>
            </div>
        </div>
    </Demo>
</Codebox>