<section class="code-box" @attributes="@Attributes">
    <section class="code-box-demo" >
        @Demo
    </section>
    <section class="code-box-meta markdown">
        <div class="code-box-title">
            <a>@Title</a>
            <a href="@EditLink" class="edit-button" target="_blank">
                <Icon Type="IconType.Outlined.Edit" Theme="IconTheme.Outlined" title="Edit this demo on GitHub!" />
            </a>
        </div>
        <div class="code-box-description">
            @Description
        </div>
    </section>
</section>