@inherits LayoutComponentBase
@using Append.AntDesign.Components

<Layout>
    <Header id="header" style="padding:0">
        <Row Justify="Justification.Space_Between">
            <Column Xs="24" Sm="24" Md="4" Lg="4">
                <h1>
                    <a id="logo" href="" style="border-right: solid 1px #f0f0f0;">
                        <img alt="logo" src="https://raw.githubusercontent.com/Append-IT/ant-design-blazor/master/source/Append.AntDesign/wwwroot/icons/outlined/ant-design-blazor.svg">Ant Design Blazor
                    </a>
                </h1>
            </Column>
            <Column>
            </Column>
            <Column Xs="0" Sm="0" Md="8" Lg="8">
                <Menu Mode="MenuMode.Horizontal" id="nav" style="text-align:right;padding-right:40px;">
                    <MenuItem Key="introduction">
                        <a href="docs/README">Introduction</a>
                    </MenuItem>
                    <MenuItem Key="components">
                        <a href="components/Button">Components</a>
                    </MenuItem>
                    <MenuItem Key="resources">
                        <a href="https://ant.design/docs/resources" target="_blank">Resources</a>
                    </MenuItem>
                    <a href="https://github.com/Append-IT/ant-design-blazor" target="_blank">
                        <Icon Type="IconType.Outlined.Github" Width="2em" Height="2em" />
                    </a>
                </Menu>
            </Column>
        </Row>
    </Header>
    <Layout style="padding-top:40px;background:#fff">
        <Sider Breakpoint="BreakpointType.Sm"
               Theme="SiderTheme.Light" Collapsible
               CollapsedWidth="0" Width="310">
            <NavMenu />
        </Sider>
        <Layout>
            <Content style="padding:0 32px 32px 32px;margin:0;min-height:280px;background:#fff">
                @Body
            </Content>
        </Layout>
    </Layout>
</Layout>

<TooltipContainer />
