@using Append.AntDesign.Components
@using Microsoft.AspNetCore.Components.Routing

<section class="main-menu-inner" style="max-height:calc(100vh - 64px);margin-top:-40px;">
    <Menu Class="aside-container" style="padding-top:20px;padding-bottom:20px;">
        <MenuItemGroup>
            <Title>General</Title>
            <Children>
                <NavLink href="/components/Button">
                    <MenuItem Key="Button">Buttonnnnnnnn</MenuItem>
                </NavLink>
                <NavLink href="/components/Icon">
                    <MenuItem Key="Icon">Icon</MenuItem>
                </NavLink>
                <NavLink href="/components/Typography">
                    <MenuItem Key="Typography" Disabled>Typography</MenuItem>
                </NavLink>
            </Children>
        </MenuItemGroup>
        <MenuItemGroup>
            <Title>Layout</Title>
            <Children>
                <NavLink href="/components/Grid">
                    <MenuItem Key="Grid" Disabled>Gridskii</MenuItem>
                </NavLink>
                <NavLink href="/components/Layout">
                    <MenuItem Key="Layout" Disabled>Layout</MenuItem>
                </NavLink>
                <NavLink href="/components/Space">
                    <MenuItem Key="Space" Disabled>Space</MenuItem>
                </NavLink>
            </Children>
        </MenuItemGroup>

        <MenuItemGroup>
            <Title>Navigation</Title>
            <Children>
                <NavLink href="/components/Affix">
                    <MenuItem Key="Affix" Disabled>Affix</MenuItem>
                </NavLink>
                <NavLink href="/components/Breadcrumb">
                    <MenuItem Key="Breadcrumb" Disabled>Breadcrumb</MenuItem>
                </NavLink>
                <NavLink href="/components/Dropdown">
                    <MenuItem Key="Dropdown" Disabled>Dropdown</MenuItem>
                </NavLink>
                <NavLink href="/components/Menu">
                    <MenuItem Key="Menu">Menu</MenuItem>
                </NavLink>
                <NavLink href="/components/Pagination">
                    <MenuItem Key="pagination" Disabled>Pagination</MenuItem>
                </NavLink>
                <NavLink href="/components/Page-header">
                    <MenuItem Key="PageHeader" Disabled>PageHeader</MenuItem>
                </NavLink>
                <NavLink href="/components/Steps">
                    <MenuItem Key="Steps" Disabled>Steps</MenuItem>
                </NavLink>
            </Children>
        </MenuItemGroup>

        <MenuItemGroup>
            <Title>Data Entry</Title>
            <Children>
                <NavLink href="/components/AutoComplete">
                    <MenuItem Key="AutoComplete" Disabled>AutoComplete</MenuItem>
                </NavLink>
                <NavLink href="/components/Checkbox">
                    <MenuItem Key="Checkbox" Disabled>Checkbox</MenuItem>
                </NavLink>
                <NavLink href="/components/Cascader">
                    <MenuItem Key="Cascader" Disabled>Cascader</MenuItem>
                </NavLink>
                <NavLink href="/components/DatePicker">
                    <MenuItem Key="DatePicker" Disabled>DatePicker</MenuItem>
                </NavLink>
                <NavLink href="/components/TimePicker">
                    <MenuItem Key="TimePicker" Disabled>TimePicker</MenuItem>
                </NavLink>
                <NavLink href="/components/Form">
                    <MenuItem Key="Form" Disabled>Form</MenuItem>
                </NavLink>
                <NavLink href="/components/InputNumber">
                    <MenuItem Key="InputNumber" Disabled>InputNumber</MenuItem>
                </NavLink>
                <NavLink href="/components/Input">
                    <MenuItem Key="Input" Disabled>Input</MenuItem>
                </NavLink>
                <NavLink href="/components/Mentions">
                    <MenuItem Key="Mentions" Disabled>Mentions</MenuItem>
                </NavLink>
                <NavLink href="/components/Rate">
                    <MenuItem Key="Rate" Disabled>Rate</MenuItem>
                </NavLink>
                <NavLink href="/components/Radio">
                    <MenuItem Key="Radio" Disabled>Radio</MenuItem>
                </NavLink>
                <NavLink href="/components/Switch">
                    <MenuItem Key="Switch" Disabled>Switch</MenuItem>
                </NavLink>
                <NavLink href="/components/Slider">
                    <MenuItem Key="Slider" Disabled>Slider</MenuItem>
                </NavLink>
                <NavLink href="/components/Select">
                    <MenuItem Key="Select" Disabled>Select</MenuItem>
                </NavLink>
                <NavLink href="/components/TreeSelect">
                    <MenuItem Key="TreeSelect" Disabled>TreeSelect</MenuItem>
                </NavLink>
                <NavLink href="/components/Transfer">
                    <MenuItem Key="Transfer" Disabled>Transfer</MenuItem>
                </NavLink>
                <NavLink href="/components/Upload">
                    <MenuItem Key="Upload" Disabled>Upload</MenuItem>
                </NavLink>
            </Children>
        </MenuItemGroup>

        <MenuItemGroup>
            <Title>Data Display</Title>
            <Children>
                <NavLink href="/components/Avatar">
                    <MenuItem Key="avatar" Disabled>Avatar</MenuItem>
                </NavLink>
                <NavLink href="/components/Badge">
                    <MenuItem Key="Badge" Disabled>Badge</MenuItem>
                </NavLink>
                <NavLink href="/components/Comment">
                    <MenuItem Key="Comment" Disabled>Comment</MenuItem>
                </NavLink>
                <NavLink href="/components/Collapse">
                    <MenuItem Key="Collapse" Disabled>Collapse</MenuItem>
                </NavLink>
                <NavLink href="/components/Carousel">
                    <MenuItem Key="Carousel" Disabled>Carousel</MenuItem>
                </NavLink>
                <NavLink href="/components/Card">
                    <MenuItem Key="Card" Disabled>Card</MenuItem>
                </NavLink>
                <NavLink href="/components/Calendar">
                    <MenuItem Key="Calendar" Disabled>Calendar</MenuItem>
                </NavLink>
                <NavLink href="/components/Descriptions">
                    <MenuItem Key="Descriptions" Disabled>Descriptions</MenuItem>
                </NavLink>
                <NavLink href="/components/Empty">
                    <MenuItem Key="Empty" Disabled>Empty</MenuItem>
                </NavLink>
                <NavLink href="/components/List">
                    <MenuItem Key="List" Disabled>List</MenuItem>
                </NavLink>
                <NavLink href="/components/Popover">
                    <MenuItem Key="Popover" Disabled>Popover</MenuItem>
                </NavLink>
                <NavLink href="/components/Statistic">
                    <MenuItem Key="Statistic" Disabled>Statistic</MenuItem>
                </NavLink>
                <NavLink href="/components/Tree">
                    <MenuItem Key="Tree" Disabled>Tree</MenuItem>
                </NavLink>
                <NavLink href="/components/Tooltip">
                    <MenuItem Key="Tooltip" Disabled>Tooltip</MenuItem>
                </NavLink>
                <NavLink href="/components/Timeline">
                    <MenuItem Key="Timeline" Disabled>Timeline</MenuItem>
                </NavLink>
                <NavLink href="/components/Tag">
                    <MenuItem Key="Tag" Disabled>Tag</MenuItem>
                </NavLink>
                <NavLink href="/components/Tabs">
                    <MenuItem Key="Tabs" Disabled>Tabs</MenuItem>
                </NavLink>
                <NavLink href="/components/Table">
                    <MenuItem Key="Table" Disabled>Table</MenuItem>
                </NavLink>
            </Children>
        </MenuItemGroup>

        <MenuItemGroup>
            <Title>Feedback</Title>
            <Children>
                <NavLink href="/components/Alert">
                    <MenuItem Key="Alert" Disabled>Alert</MenuItem>
                </NavLink>
                <NavLink href="/components/Drawer">
                    <MenuItem Key="Drawer" Disabled>Drawer</MenuItem>
                </NavLink>
                <NavLink href="/components/Modal">
                    <MenuItem Key="Modal" Disabled>Modal</MenuItem>
                </NavLink>
                <NavLink href="/components/Message">
                    <MenuItem Key="Message" Disabled>Message</MenuItem>
                </NavLink>
                <NavLink href="/components/Notification">
                    <MenuItem Key="Notification" Disabled>Notification</MenuItem>
                </NavLink>
                <NavLink href="/components/Progress">
                    <MenuItem Key="Progress" Disabled>Progress</MenuItem>
                </NavLink>
                <NavLink href="/components/Popconfirm">
                    <MenuItem Key="Popconfirm" Disabled>Popconfirm</MenuItem>
                </NavLink>
                <NavLink href="/components/Result">
                    <MenuItem Key="Result" Disabled>Result</MenuItem>
                </NavLink>
                <NavLink href="/components/Spin">
                    <MenuItem Key="Spin" Disabled>Spin</MenuItem>
                </NavLink>
                <NavLink href="/components/Skeleton">
                    <MenuItem Key="Skeleton" Disabled>Skeleton</MenuItem>
                </NavLink>
            </Children>
        </MenuItemGroup>


        <MenuItemGroup>
            <Title>Other</Title>
            <Children>
                <NavLink href="/components/Anchor">
                    <MenuItem Key="Anchor" Disabled>Anchor</MenuItem>
                </NavLink>
                <NavLink href="/components/BackTop">
                    <MenuItem Key="BackTop" Disabled>BackTop</MenuItem>
                </NavLink>
                <NavLink href="/components/Divider">
                    <MenuItem Key="Divider">Divider</MenuItem>
                </NavLink>
            </Children>
        </MenuItemGroup>
    </Menu>
</section>

<style>
    .aside-container .ant-menu-item-group-list {
        padding-left: 30px;
    }
</style>