@namespace Append.AntDesign.Components
@inherits AntComponent

<CascadingValue Value="this">
    <div @attributes=@Attributes class="@classes" style="@Style">
        @ChildContent
    </div>
</CascadingValue>