<Codebox Title="Block" id="components-button-demo-block">
    <Description>
        <p>The <code>block</code> property will make the button fit to its parent width.</p>
    </Description>
    <Demo>
        <Button Block Type="ButtonType.Primary" Label="Primary"/>
        <Button Block Type="ButtonType.Primary" Danger Label="Danger"/>
        <Button Block Label="Default"/>
        <Button Block Type="ButtonType.Dashed" Label="Dashed"/>
        <Button Block Type="ButtonType.Link" Label="Link"/>
        <br />
    </Demo>
</Codebox>