<Codebox Title="Loading" id="components-button-demo-loading">
    <Description>
        <p>A loading indicator can be added to a button by setting the <code>loading</code> property on the Button.</p>
    </Description>
    <Demo>
        <Button Type="ButtonType.Primary" Loading Label="Loading" />
        <Button Type="ButtonType.Primary" Size="Size.Small" Loading Label="Loading" />
        <Button Type="ButtonType.Primary" Loading>
            <Icon Type="IconType.Outlined.Poweroff" />
        </Button>
        <br />
        <Button Type="ButtonType.Primary" Loading="isLoading1" OnClick="startLoading1" Label="Click me!" />
        <Button Type="ButtonType.Primary" Loading="isLoading2" OnClick="startLoading2" Label="Click me!">
            <Icon Type="IconType.Outlined.Poweroff" />
        </Button>
        <Button Type="ButtonType.Primary" Loading="isLoading3" OnClick="startLoading3">
            <Icon Type="IconType.Outlined.Poweroff" />
        </Button>
    </Demo>
</Codebox>

@code{
    bool isLoading1 = false;
    bool isLoading2 = false;
    bool isLoading3 = false;
    async Task startLoading1()
    {
        isLoading1 = true;
        await Task.Delay(3000);
        isLoading1 = false;
    }
    async Task startLoading2()
    {
        isLoading2 = true;
        await Task.Delay(3000);
        isLoading2 = false;
    }
    async Task startLoading3()
    {
        isLoading3 = true;
        await Task.Delay(3000);
        isLoading3 = false;
    }
}