@namespace Append.AntDesign.Components
@inherits AntComponent

<div @attributes="@Attributes" class="@classes">
    @if (ShowIcon)
    {
        @BuildIcon
    }
    <span class="ant-alert-message">
        @Message
    </span>
    <span class="ant-alert-description">
        @Description
    </span>
    @if (Closable)
    {
        <button class="ant-alert-close-icon" type="button" tabindex="0" @onclick="HandleClose">
            @if (CloseText != null)
            {
                <span class="ant-alert-close-text">@CloseText</span>
            }
            else
            {
                <Icon Type="IconType.Outlined.Close" />
            }
        </button>
    }
</div>