<Codebox Title="Size">
    <Description>
        <p>
            There are three sizes available to a numeric input box. By default, the size is <code>32px</code>. 
            The two additional sizes are <code>large</code> and <code>small</code> which means <code>40px</code> and <code>24px</code>, respectively.
        </p>
    </Description>
    <Demo>
        <div class="site-input-number-wrapper">
            <InputNumber DefaultValue=3 Min=1 Max=100000 Size=@InputSize.Large />
            <InputNumber DefaultValue=3 Min=1 Max=100000 />
            <InputNumber DefaultValue=3 Min=1 Max=100000 Size=@InputSize.Small />
        </div>
    </Demo>
</Codebox>