<Codebox Title="Type"
         Description="There are `primary` button, `default` button, `dashed` button and `link` button in antd.">
    <Demo>
        <button type="button" class="ant-btn ant-btn-primary"><span>Primary</span></button>        
        <br />
    </Demo>
</Codebox>