<Codebox Title="Type"
         Description="There are `primary` button, `default` button, `dashed` button and `link` button in antd.">
    <Demo>
        <button></button>
        <br />
        <button></button>
    </Demo>
</Codebox>