<Codebox Title="Type"
         Description="There are <code>primary</code> button, <code>default</code> button, <code>dashed</code> button and <code>link</code> button in antd.">
    <Demo>
        <Button Type="@ButtonType.Primary">Primary</Button>
        <Button>Default</Button>
        <Button Type="@ButtonType.Dashed">Dashed</Button>
        <Button Type="@ButtonType.Link">Link</Button>
        <br />
    </Demo>
</Codebox>

@code{
    void DoSomething()
    {
        Console.WriteLine("test");
    }
}