<Codebox Title="Icons" id="components-button-demo-icon">
    <Description>
        <p>Button components can contain an <code>Icon</code>. This is done by placing an <code>Icon</code> component within the <code>Button</code>.</p>
    </Description>
    <Demo>
        <Button Type="ButtonType.Primary" Shape="ButtonShape.Circle">
            <Append.AntDesign.Components.Icon Type="IconType.Outlined.Search" />
        </Button>

        <Button Type="ButtonType.Primary" Shape="ButtonShape.Circle" Label="A" />

        <Button Type="ButtonType.Primary" Label="Search">
            <Append.AntDesign.Components.Icon Type="IconType.Outlined.Search" />
        </Button>

        <Button Shape="ButtonShape.Circle">
            <Append.AntDesign.Components.Icon Type="IconType.Outlined.Search" />
        </Button>

        <Button Label="Search">
            <Append.AntDesign.Components.Icon Type="IconType.Outlined.Search" />
        </Button>

        <br />
        <Button Shape="ButtonShape.Circle">
            <Append.AntDesign.Components.Icon Type="IconType.Outlined.Search" />
        </Button>

        <Button Label="Search">
            <Append.AntDesign.Components.Icon Type="IconType.Outlined.Search" />
        </Button>

        <Button Type="ButtonType.Dashed" Shape="ButtonShape.Circle">
            <Append.AntDesign.Components.Icon Type="IconType.Outlined.Search" />
        </Button>

        <Button Type="ButtonType.Dashed" Label="Search">
            <Append.AntDesign.Components.Icon Type="IconType.Outlined.Search" />
        </Button>

        <Button Type="ButtonType.Dashed" Label="Search">
            <Append.AntDesign.Components.Icon Type="IconType.Outlined.Search" />
        </Button>
    </Demo>
</Codebox>