<Codebox Title="Size"
         Description="Ant Design supports a default button <code>size</code> as well as a <code>large</code> and <code>small</code> size. If a <code>large</code> or <code>small</code> button is desired, set the <code>size</code> property to either <code>large</code> or <code>small</code> respectively. Omit the <code>size</code> property for a button with the default size.">
    <Demo>
        <Button Type="@ButtonType.Primary" Size="ButtonSize.Default">Default</Button>
        <Button Type="@ButtonType.Primary" Size="ButtonSize.Small">Small</Button>
        <Button Type="@ButtonType.Primary" Size="ButtonSize.Middle">Middle</Button>
        <Button Type="@ButtonType.Primary" Size="ButtonSize.Large">Large</Button>
        <br />
    </Demo>
</Codebox>

@code{
    void DoSomething()
    {
        Console.WriteLine("test");
    }
}