<Codebox Title="Collapsed" id="components-menu-collapsed">
    <Description>
        <p><code>Inline</code> Menu's can be collapsed.</p>
    </Description>
    <Demo>
        <Button OnClick="ToggleCollapsedMenu" Type="ButtonType.Primary" Label="@buttonText">
            <Icon Type="@icon"/>
        </Button>
        <br />
        <Menu DefaultOpenSubMenus="OpenSubmenus" DefaultSelectedItems="SelectedItems" Collapsed="isCollapsed">
            <MenuItem Key="1">
                <Icon Type="IconType.Outlined.Pie_Chart" />
                <span>Option 1</span>
            </MenuItem>
            <MenuItem Key="2">
                <Icon Type="IconType.Outlined.Desktop" />
                <span>Option 2</span>
            </MenuItem>
            <MenuItem Key="3">
                <Icon Type="IconType.Outlined.Container" />
                <span>Option 3</span>
            </MenuItem>
            <SubMenu Key="sub1">
                <Title>
                    <Icon Type="IconType.Outlined.Mail" />
                    <span>Navigation One</span>
                </Title>
                <Children>
                    <MenuItem Key="4">Option 4</MenuItem>
                    <MenuItem Key="5">Option 5</MenuItem>
                    <MenuItem Key="6">Option 6</MenuItem>
                    <MenuItem Key="7">Option 7</MenuItem>
                </Children>
            </SubMenu>
            <SubMenu Key="sub2">
                <Title>
                    <Icon Type="IconType.Outlined.Appstore" />
                    <span>Navigation Two</span>
                </Title>
                <Children>
                    <MenuItem Key="8"><span>Option 8</span></MenuItem>
                    <MenuItem Key="9">Option 9</MenuItem>
                    <SubMenu Key="sub3">
                        <Title><span>Submenu</span></Title>
                        <Children>
                            <MenuItem Key="10">Option 10</MenuItem>
                            <MenuItem Key="11">Option 12</MenuItem>
                        </Children>
                    </SubMenu>
                </Children>
            </SubMenu>
        </Menu>
    </Demo>
</Codebox>

@code{
    private string[] OpenSubmenus = { "sub1" };
    private string[] SelectedItems = { "1" };
    private bool isCollapsed;
    private IconType icon = IconType.Outlined.Menu_Fold;
    private string buttonText = "Close";

    private void ToggleCollapsedMenu()
    {
        isCollapsed = !isCollapsed;
        if (isCollapsed)
        {
            icon = IconType.Outlined.Menu_Unfold;
            buttonText = "Open";
        }
        else
        {
            icon = IconType.Outlined.Menu_Fold;
            buttonText = "Close";
        }
    }
}