@using Microsoft.AspNetCore.Components.Routing
<Codebox Title="NavLink" id="components-menu-inline">
    <Description>
        <p>
            <code>NavLink</code> as a first-class citizen, simply wrap the <code>MenuItem</code> with a <code>NavLink</code>.
        </p>
    </Description>
    <Demo>
        <Menu Style="width:256px;" Mode="MenuMode.Inline">
            <NavLink href="" Match="NavLinkMatch.All">
                <MenuItem Key="Home">

                    <Icon Type="IconType.TwoTone.Home" />
                    <span>Home</span>
                </MenuItem>
            </NavLink>

            <MenuItemGroup>
                <Title>General</Title>
                <Children>
                    <NavLink href="button">
                        <MenuItem Key="Button">
                            <span>Button</span>
                        </MenuItem>
                    </NavLink>
                    <NavLink href="icon">

                        <MenuItem Key="Icons">
                            <span>Icons</span>
                        </MenuItem>
                    </NavLink>
                    <NavLink href="menu">
                        <MenuItem Key="Menu">
                            <span>Menu</span>
                        </MenuItem>
                    </NavLink>
                </Children>
            </MenuItemGroup>
        </Menu>
    </Demo>
</Codebox>